<header>
    <div class="container">
        <a routerLink="/" class="logo">{{appTitle}}</a>
        <nav>
            <ul>
                <li><a class="insideContainer" routerLink="/">Home</a></li>
                <li><a class="insideContainer" routerLink="/about">Login</a></li>
                <li><a class="insideContainer" routerLink="/contact">Add course</a></li>
                <li><a class="insideContainer" routerLink="/recepies">Recepies</a></li>
            </ul>
        </nav>
    </div>